<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        html{margin: 20px 0 0 25px;}
        a{
            color: #131413;
            text-align: center;
        }
    </style>
    <div>
        <a href="/">Registreerimine</a>
        <a href="/list">List</a>
        <a href="/results">Search</a>
    </div>
</head>
<body>
<h2>Visiidile registreerimine</h2>
<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
            <td><input type="text" th:field="*{dentistName}"/></td>
            <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">Nime viga</td>
        </tr>
        <tr>
            <td><p th:text="#{perearsti.nimi}">perearsti.nimi</p></td>
            <td>
                <select th:field="*{familyDoctorName}">
                    <option th:each="doctor : ${familyDoctorEntitys}"
                            th:value="${doctor.familyDoctorNameT}"
                            th:text="${doctor.familyDoctorNameT}"></option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('familyDoctorName')}" th:errors="*{familyDoctorName}">Nime viga</td>
        </tr>
        <tr>
            <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
            <td><input type="text" th:field="*{visitTime}"/></td>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kuupäeva viga</td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{registreeri.visiidile}"></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>