<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        html{margin: 20px 0 0 25px;}
        a{
            color: #131413;
            text-align: center;
        }
        table, tr, th, td {
            border: 2px solid black;
        }
    </style>
    <div>
        <a href="/">Registreerimine</a>
        <a href="/list">List</a>
        <a href="/results">Search</a>
    </div>
</head>
<body>
    <h2>Kõik sisestatud andmed</h2>
    <table>
        <tr>
            <th>id</th>
            <th>hambaarsti nimi</th>
            <th>perearsti nimi</th>
            <th>aeg</th>
        </tr>
        <tr th:each="visit : *{dentistVisitEntitys}">
            <td th:text="${visit.id}"></td>
            <td th:text="${visit.dentistName}"></td>
            <td th:text="${visit.familyDoctorName}"></td>
            <td th:text="${visit.visitTime}"></td>
            <th><a th:href="@{/edit_dentist/{id}(id=${visit.id})}">edit</a></th>
            <th><a th:href="@{/delete_dentist/{id}(id=${visit.id})}">delete</a></th>
        </tr>
</table>

</body>
</html>